.textCenter {
    text-align: center;
}

.mat-paginator-page-size,
.mat-paginator-range-label {
    opacity: 0!important;
}
.mat-paginator-range-actions {
    position: relative;
    width: 100%;
}
.mat-paginator-navigation-previous,
.mat-paginator-navigation-next {
    position: absolute!important;
    left: 0;
}
.mat-paginator-navigation-next {
    right: 0;
    left: auto;
}